nav{
    width: 100%;
    float: left;
    background: #ff5722;
    padding:20px 20px;
    word-spacing: 5px;
    letter-spacing: 2px;
} 
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 2px 20px;
    border-right: 1px solid #ffc3c3;
    font-weight: 500;
}
.e{
    text-align: center;
    font-style: italic;
}
.z{
    font-size: large;
}